APP_NAME="Aqualand API"
APP_ENV=production
APP_DEBUG=false
APP_KEY=base64:g/y6jrgzk+fpBTf6FkiTlFC84qVupOipHbZYL7sfFP4=
APP_URL=https://aqualand-api-1.onrender.com

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_CONNECTION commentée car on utilise sqlite pour tester

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
